.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.status-bar i {
  padding: 0px 7px;
}
